[Desktop Entry]
Encoding=UTF-8
Name=Link to clear.png
Type=Link
URL=https://github.com/amalkrishnaan/weather/blob/weather/images/clear.png
Icon=text-html
